ul,
li,
html,
body,
h3,
p {
    padding: 0;
    margin: 0;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding: 0;
}

.banner img {
    width: 100%;

}

.address {
    line-height: 1.12rem;
    background-color: #e3e3e3;
}

.address img {
    margin: 0 0.5rem;
}

.address span,
.address a {
    font-size: 0.4rem;
    color: #a7a7a7;
}

.gifts-options {
    position: relative;
}

.gifts-options::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.12rem;
    width: 45%;
    height: 0.05rem;
    margin: 0 auto;
    background-color: #038d82;
}

.options .options-part {
    text-align: center;
    margin-top: 0.5rem;
}

.options i {
    display: inline-block;
    width: 0.16rem;
    height: 0.16rem;
    border-radius: 999rem;
    background-color: #038d82;
}

.options span {
    position: relative;
    font-size: 0.26rem;
    /* font-size: 26px; */
    /* font-size-adjust:  */
    /* font-s */
}

.options span::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0.16rem;
    height: 0.16rem;
    border-radius: 999rem;
    background-color: #038d82;
    left: -0.22rem;
}

.options img {
    width: 3.56rem;
    min-width: 180px;
    margin-top: 1rem;
    transition: transform 0.4s
}

.options img:hover {
    transform: scale(1.1, 1.1)
}

.product {
    text-align: center;
    margin-top: 1rem;
}

.product .product1,
.product .product2 {
    position: relative;
    width: calc(100% - 6rem);
    margin: 0 auto;
    text-align: left;
}

.product1 img {
    float: right;
    width: 4.88rem;
    margin-right: 0.5rem;
}

.product1 .text {
    padding-top: 1.8rem;
}

.product1 .text h3 {
    font-size: 0.33rem;
    /* font-size: 33px; */
    font-weight: 700;
}

.product1 .text p {
    margin-top: 0.2rem;
    width: 4rem;
    min-width: 220px;
    font-size: 0.18rem;
    /* font-size: 18px; */
    font-weight: 700;
    line-height: 1.1;
}

.product .product2 {
    position: relative;
    margin-top: 3rem;
    height: 5.88rem;
}

.product2 .text1 {
    position: relative;
    z-index: 1;
    font-weight: 700;
    float: left;
    margin-top: 0.55rem;
    font-size: 0.15rem;

}
.product2 .text1 p:nth-of-type(3){
    line-height: 0.5rem
}
.product2 .text1 p:nth-of-type(4){
    font-size: 0.36rem;
}

.product2 .img {
    width: 100%;
    height: 5.88rem;
    background: url(../images/product2.png) center center no-repeat /100%
}






.product2 .text2 {
    margin-top: 0.8rem;
    text-align: right;
    font-size: 0.3rem;
    font-weight: 700;
}

.product2 .text2 p {
    line-height: 1.1;
}

.product2 .text2 p.inches {
    position: relative;
}

.product2 .text2 p.inches::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.24rem;
    width: 0.5rem;
    height: 0.05rem;
    margin: 0 0 0 auto;
    background-color: #038d82;
}

.product2 .text3 {
    text-align: right;
    margin-top: 1rem;
    line-height: 1.1;
}

.product2 .text3 p {
    font-size: 0.17rem;
    /* font-size: 17px; */
}

.footer {
    padding: 0 3rem;
    padding-bottom: 1rem;
    background-image: linear-gradient(to bottom, #eee 0, #fff 17%, #fff 82%);
}

.planer {
    position: relative;
    padding-top: 0.9rem;
}

.planer i {
    display: block;
    width: 0.63rem;
    height: 0.57rem;
    background: url(../images/0322.png) center center no-repeat / 100%
}



.planer .text1 p {
    text-align: right;
    font-weight: 700;
    font-size: 0.15rem;
}

.planer .text1 .MAGNET {
    position: relative;
}

.planer .text1 .MAGNET::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.1rem;
    width: 0.35rem;
    height: 0.03rem;
    margin: 0 0 0 auto;
    background-color: #038d82;
}

.planer .text2 {
    text-align: center;
    padding-bottom: 0.5rem
}
.planer .text2 h3 {
    font-size: 0.36rem;
}
.planer .text2 p {
    width: 60%;
    margin: 0 auto;
    margin-top: 0.34rem;
    font-weight: 700;
    font-size: 0.17rem;
}

.planer .img-planer {
    text-align: center;
}

.planer .img-planer img {

    width: 100%;
    max-width: 475px;
}

.step3 {
    margin-top: 1.75rem;
}

.step3 ul {
    width: 4rem;
    margin: 0 auto;
    text-align: center;
}

.step3 ul li {
    display: inline-block;
    width: 0.14rem;
    height: 0.14rem;
    min-width: 10px;
    min-height: 10px;
    border-radius: 999px;
    background-color: #14958a;
}

.step3 ul li+li {
    margin-left: 0.22rem;
}

.step3 .text {
    width: 6rem;
    margin: 0 auto;
    font-weight: 700;
    text-align: center;
    /* font-size: 0.17rem; */
    font-size: 0.24rem;
    line-height: 1.6;
    padding: 0.88rem 0;
}

.step3 .step-list {
    text-align: center;
    padding-top: 1rem
}

.step3 .step-list img {
    width: 3.1rem;
    min-width: 158px;
}

.step3 .step-list .txt {
    margin: 0 auto;
    width: 3.1rem;
    min-width: 158px;
}

.step3 .step-list .txt h3 {
    /* font-size: 0.185rem; */
    font-size: 0.3rem;
    font-weight: 700;
    padding: 0.2rem 0;
}

.step3 .step-list .txt p {
    /* font-size: 0.14rem; */
    font-size: 0.24rem;
    font-size-adjust: 0.2;
}


@media screen and (max-width: 750px) {
    body {
        /* background-color:lightblue; */

    }

    .options span {
        font-size: 14px;
    }
    .product1 .text h3 {
        font-size: 14px;
    }
    .product1 .text p {
        font-size: 10px;
    }


    .product2 .text1 {
        font-size: 8px;
    }
    .product2 .text1 p:nth-of-type(3) {
        line-height: 18px;
    }
    .product2 .text1 p:nth-of-type(4){
        font-size: 12px;
    }
    .product2 .text2 {
        font-size: 9px;
    }
    .product2 .text3 p {
        font-size: 8px;
    }
    .planer .text1 p {
        font-size: 10px;
    }
    .planer .text2 h3 {
        font-size: 14px;
    }
    .planer .text2 p {
        font-size: 10px;
    }


    .step3 .text {
        font-size: 10px;
    }
    .step3 .step-list .txt h3 {
        font-size: 11px;
    }
    .step3 .step-list .txt p {
        font-size: 10px;
    }
}